<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <connectionStrings>
    <add name="dbConnectionString" connectionString="Data Source=.;Initial Catalog=db_ytx;User ID=sa;Password=520430" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Log" value="T"/>  <!--日志开关-->
    <add key="TargetWeb" value="http://www.163.com"/>  <!--商城服务地址-->
    <add key="interval" value="1"/> <!--轮询间隔，单位分-->
    <add key="usr" value=""/> <!--ERP单据录入人-->
    <add key="dep" value=""/> <!--ERP部门-->
    <add key="cus_no" value=""/><!--散客的客户编码-->
  </appSettings>
</configuration>