<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <connectionStrings>
    <add name="dbConnectionString" connectionString="Data Source=.;Initial Catalog=db_BX;User ID=sa;Password=520430"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="Log" value="T"/>  <!--日志开关-->
    <add key="TargetWeb" value="http://xfx.winit168.cn/erp_api/order.php?type=1&amp;order_status=1"/>  <!--商城服务地址-->
    <add key="interval" value="1"/> <!--轮询间隔，单位分-->
    <add key="usr" value="ADMIN"/> <!--ERP单据录入人-->
    <add key="dep" value="00000000"/> <!--ERP部门-->
    <add key="cus_no" value="CQ0237021"/> <!--散客编码-->
    <add key="wh" value="0000"/> <!--默认仓库-->
  </appSettings>
</configuration>